<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Popular</small>
                            <h6 class="mt-n1 mb-0">Breakfast</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Special</small>
                            <h6 class="mt-n1 mb-0">Launch</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Lovely</small>
                            <h6 class="mt-n1 mb-0">Dinner</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">


                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">


                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->


<!-- Add this script tag in your HTML file -->
<script>
    const apiUrl = "<%= apiUrl %>";

    // Function to fetch and display menu items from the API
    async function fetchAndDisplayMenu() {
        try {
            // Replace 'YOUR_API_ENDPOINT' with the actual API endpoint
            const response = await fetch(`${apiUrl}/api/Allmenus`);
            const data = await response.json();
            console.log(data, "111");

            // Assuming the API returns an array of menu items
            const menuItems = data?.[0]?.data;
            console.log(menuItems);

            // Create an object to store the count of items for each tag
            const tagCounts = {};

            // Iterate through menu items and filter them based on tags
            menuItems.forEach((menuItem) => {
                const tabId = getTabIdByTag(menuItem.tags);
                if (tabId) {
                    // Increment the count for the corresponding tag
                    tagCounts[tabId] = (tagCounts[tabId] || 0) + 1;

                    // Get the container to append menu items
                    const menuContainer = document.querySelector(`#${tabId} .row`);
                    console.log(menuContainer);

                    // Create HTML elements for the menu item
                    const menuItemHTML = `
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                      <span>${menuItem.title}</span>
                      <span class="text-primary">₹${menuItem.price}</span>
                    </h5>
                    <small class="fst-italic">${menuItem.content}</small>
                  </div>
                </div>

                        </div>
                    `;

                    // Append the generated HTML to the container
                    menuContainer.innerHTML += menuItemHTML;
                }
            });

            // Iterate through tag counts and add "See All" link if count > 10
            Object.keys(tagCounts).forEach((tabId) => {
                const tagCount = tagCounts[tabId];
                if (tagCount > 10) {
                    const seeAllLinkHTML = `
                    <div class="more-menu" style="
    padding-top: 10px;
    justify-content: end;
    display: flex;
">

                        <a href="see-all.html#${tabId}">See All</a>
                        </div>
                    `;

                    // Append the "See All" link to the container
                    const tabContainer = document.querySelector(`#${tabId}`);
                    tabContainer.innerHTML += seeAllLinkHTML;
                }
            });
        } catch (error) {
            console.error('Error fetching menu data:', error);
        }
    }

    // Function to get the tab ID based on the menu item tags
    function getTabIdByTag(tags) {
        if (tags === 'lunch') {
            return 'tab-2'; // Use the appropriate tab ID for 'tags'
        } else if (tags === 'breakfast') {
            return 'tab-1'; // Use the appropriate tab ID for 'breakfast'
        } else if (tags === 'dinner') {
            return 'tab-3'; // Use the appropriate tab ID for 'dinner'
        }
        // If the tag doesn't match any specific tab, you can return null or another default tab ID
        return null;
    }

    // Call the fetchAndDisplayMenu function to load data
    fetchAndDisplayMenu();
</script>